$dark-olive-green: #606c38;
$kombu-green: #283618;
$artochoke: #93987c;
$cornsilk: #fefae0;
$deep-champagne: #eece9f;
$earth-yellow: #dda15e;
$liver-dogs: #bc6c25;
$white-star: #ffffff;
$manchester-white: #eeeeee;
$dark-night: #333333;
$concrete-gray: #cccccc;
$plain-red: red;
$plain-gray: gray;
